SECRET_KEY="YOUR DJANGO KEY"
DATABASES_URL="..."

EMAIL_HOST_USER="YOUR_EMAIL"
EMAIL_HOST_PASSWORD="YOUR_PASSWORD"


#CLOUDINARY_STORAGE
CLOUD_NAME="CLOUD_NAME"
API_KEY="API_KEY"
API_SECRET="API_SECRET"
